html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  font-color: #333;
  font-family: Tahoma, Geneva, sans-serif;
}

.context-menu {
  position: fixed;

  width: 250px;

  left: 50%;
  bottom: -500px;

  margin: 0;
  padding: 0;
  margin-left: -125px;

  background-color: white;
  border: 1px #2f2f2f solid;
  border-bottom: 0;

  transition: all 0.3s ease-in-out;
}

.context-menu.up {
  bottom: 0
}

.context-menu li {
  list-style: none;
  margin: 0;
  padding: 0.5em;

  border-bottom: 1px #2f2f2f solid;
  text-align: center;
}

.context-menu li.heading {
  padding: 1.2em;
  font-size: 1em;
  font-weight: bold;
}

.context-menu li.sub-heading {
  font-size: 1.2em;
  font-weight: bold;
}

.context-menu li:last-child {
  border-bottom: 0;
}

.board {
  background-color: #076324;
}

.card {
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

